@import "./_variables.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}
.pink-button {
  background-color: #FAB7E0;
  color: #FAB7E0;
}
.cardo-font{
  font-family: 'Cardo', serif;
}
.playlist-font {
  font-family: 'Playlist', sans-serif;
}
.pink-text {
  color: #FAB7E0;
}
.sancreek-font {
  font-family: 'Sancreek', cursive;
}
.dancing-script-font {
  font-family: 'Dancing Script', cursive;
}
.lora-font {
  font-family: 'Lora', serif;
}
.prata-font {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-style: normal;
}
.rochester-font {
  font-family: 'Rochester', cursive;
}
.volk-font {
  font-family: 'Vollkorn', serif;
}
.extra-small {
  font-size: x-small;
}
.x-small {
  font-size: x-small;
}
.small {
  font-size: small;
}
.medium {
  font-size:medium;
}
.large {
  font-size:large;
}
.larger {
  font-size:larger;
}
.x-large {
  font-size:x-large;
}
.xx-large {
  font-size:xx-large;
}
.xxx-large {
  font-size:xxx-large;
}


